<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCkwjegqbKsZPTrREGYymdMQqQ-sqYWj8</string>
	<key>GCM_SENDER_ID</key>
	<string>987251277271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.perfectPose</string>
	<key>PROJECT_ID</key>
	<string>gdsc-perfect-pose</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-perfect-pose.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987251277271:ios:f3c5950f193ac4338f5f92</string>
</dict>
</plist>